<div class="example-column col-lg-6 col-md-12 col-sm-12">
  <div class="card">
    <h5 class="card-header">{{include.example.title}}</h5>
    <div class="card-body">
      <div class="description">{{include.example.description}}</div>
      <div class="actions">
        <a href="/examples/{{include.example.example}}" class="action">View Example</a>
        <a href="https://github.com/convergencelabs/javascript-examples/tree/master/src/examples/{{include.example.example}}" class="action">View Code</a>
      </div>
    </div>
  </div>
</div>
