<!-- Start Header -->
<nav id="header" class="nav-bar">
  <span class="title brand-copy">
    <a href="https://convergence.io"><img src="/assets/img/logo.png" class="logo" alt="Convergence"></a>
    <a href="/">Convergence Examples</a>
  </span>
  <div class="links">
    <div class="link">
      <a href="https://docs.convergence.io/js-api/">API Docs</a>
    </div>
    <div class="link">
      <a href="https://docs.convergence.io/guide/">Dev Guide</a>
    </div>
    <div class="link">
      <a href="https://github.com/convergencelabs/javascript-examples/">
        <img src="/assets/img/GitHub-Mark-32px.png" class="github-logo" alt="Git Hub"/>
      </a>
    </div>
  </div>
  <div class="menu" onclick="convergenceToggleMenu()">
    <i class="fa fa-bars"></i>
  </div>
</nav>

<!-- End Header -->

