.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.editor {
  display: inline-block;
  flex: 1;
}

.wrapped-editor {
  flex: 1;
  display: flex;
  border: 1px solid black;
  height: 550px;
}

#radar-view {
  display: inline-block;
  min-width: 20px;
  background: #2F3129;
}
