{% include html-head.html %}

{% include header.html %}

<!-- Wrapper -->
<div class="wrapper">

  <!-- Sidebar -->
  <div id="sidebar">
    {% include side-nav.html %}
    <div id="sidebar-toggle">
      <div class="sidebar-btn">
        <i class="fa fa-caret-left show"></i>
        <i class="fa fa-caret-right"></i>
      </div>
    </div>
  </div>
  
  <!-- Page Content -->
  <div id="content">
    {{ content }}
  </div>
  <!-- End Page Content -->

</div>
<!-- End Wrapper -->

{% include footer.html %}

{% include scripts.html %}

{% include html-footer.html %}

