{% include html-head.html %}

{% include header.html %}

<!-- Wrapper -->
<div class="wrapper">

  <!-- Sidebar -->
  <div id="sidebar">
    {% include side-nav.html %}
  </div>

  <!-- Page Content -->
  <div id="content">
    <div class="nav-toggle">
      <span class="collapse show">
        <i class="fa fa-caret-left"></i>
      </span>
      <i class="fa fa-bars"></i>
    </div>
    {{ content }}
  </div>
  <!-- End Page Content -->

</div>
<!-- End Wrapper -->

{% include footer.html %}

{% include scripts.html %}

{% include html-footer.html %}

