#example {
  padding: 10px 20px;
  max-width: 800px;
  min-width: 500px;
  margin: 0;
  position: relative;
}

#example div.example-header {
  margin-bottom: 20px;
}

#example div.example-icons {
  display: flex;
  justify-content: space-between;
}

#example div.example-icons a {
  text-decoration: none;
}

#example div.example-icons .share a {
  margin-left: 10px;
}

#example div.example-icons a span {
  font-size: 1rem;
}

#example div.example-title {
  text-align: center;
  font-size: 24px;
  font-family: "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
}

#example div.example-overview {
  font-family: "Helvetica Neue", sans-serif;
  background: #F0F0F0;
  border-radius: 2px;
  border: 1px solid darkgray;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

a {
  color: #039be5;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  #example {
    min-width: 0;
  }
}
