#chat-title {
  text-align: center;
  font-size: 22px;
}
div.chat-container {
  padding: 0 10px;
}

div.chat-messages {
  padding: 0;
  margin-top: 0;
}

div.chat-messages .card-content {
  height: 300px;
  padding: 0;
  overflow: auto;
  margin-top: 0;
}

div.chat-controls {
  width: 450px;
  padding: 10px;
}

div.chat-controls .row {
  margin-bottom: 0;
}

.chat-container .collection .collection-item.avatar .circle {
  height: 32px;
  width: 32px;
  line-height: 32px;
}

.chat-container .collection .collection-item.avatar {
  min-height: 0;
}
