#main, #footer { 
	display: none; 
}

#loading { 
	font-size: 1.5em;
  text-align: center;
  padding: 40px 0;
}

.dragging {
  border: 1px solid #ededed;
}

#todo-list li.drag-over {
	border: 1px dashed #000;
	margin-bottom: -1px;
}

#todo-list li[draggable] label {
	cursor: move;
}