@keyframes ripple {
 0% { width: 0; height: 0; margin: 0; opacity: 1; }
 100%{ width: 36px; height: 36px; margin: -18px 0 0 -18px; opacity: 0.2; }
}

#pointer-content {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 13px;
  display: flex;
}

.navbar {
  background: white;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 2px;
}

.navbar button {
  margin-left: 5px;
}

#sessions {
  width: 300px;
}

#cursorBox {
  height: 300px;
  border: 1px solid darkgray;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  background: white;
}

#titleBar, #rightTitle {
  border: 1px solid darkgray;
  border-radius: 2px;
  padding: 4px;
  text-align: center;
  background: #e3f2fd;
  color: black;
}

#statusBar {
  border: 1px solid darkgray;
  padding: 2px;
}

#sessionId {
  margin-right: 20px;
}

#cursors {
  flex: 1;
  margin-right: 20px;
  background: white;
}

#mouseLocationsTable {
  width: 100%;
  border: 1px solid darkgray;
  border-radius: 2px;
  background: white;
}

#mouseLocationsTable td, #mouseLocationsTable th {
  text-align: center;
  border: 1px solid darkgray;
}

.remoteCursor {
  display: inline-block;
  position: absolute;
  width: 11px;
  height: 15px;
}

.clickSpot {
  position: absolute;
  animation: ripple 300ms forwards;
  border-radius: 18px;
  background-color: palegreen;
}

.label {
  font-weight: bold;
}