@keyframes ripple {
 0% { width: 0; height: 0; margin: 0; opacity: 1; }
 100%{ width: 36px; height: 36px; margin: -18px 0 0 -18px; opacity: 0.2; }
}

#pointer-content {
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 13px;
  display: flex;
}

#buttons {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 13px;
}

#sessions {
  width: 300px;
}

#cursorBox {
  height: 300px;
  border: 1px solid black;
  position: relative;
}

#titleBar, #rightTitle {
  border: 1px solid black;
  padding: 2px;
  text-align: center;
}


#statusBar {
  border: 1px solid black;
  padding: 2px;
}

#sessionId {
  margin-right: 20px;
}

#cursors {
  flex: 1;
  margin-right: 20px;
}

#mouseLocationsTable {
  width: 100%;
  border: 1px solid black;
}

#mouseLocationsTable td {
  text-align: center;
  border: 1px solid black;
}

.remoteCursor {
  display: inline-block;
  position: absolute;
  width: 11px;
  height: 15px;
}

.clickSpot {
  position: absolute;
  animation: ripple 300ms forwards;
  border-radius: 18px;
  background-color: palegreen;
}