body {
  margin: 0;
  padding: 0;
}

img.github-logo {
  float: right;
  margin: 22px 10px 0 0;
  height: 24px;
}

img.logo {
  float: left;
  height: 45px;
  margin: 10px 10px 0 20px;
}

span.title {
  color: white;
  font-size: 2em;
  font-family: "Century Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#examples {
  padding:10px;
}

@font-face {
  font-family: "Century Gothic";
  src: url('fonts/CenturyGothic.ttf');
}

div.row {
  display: flex;
}

div.row div.col {
  display: flex;
}

div.card {
  display: flex;
  flex-direction: column;
}

div.card-content {
  flex: 1;
}