#chat-title {
  text-align: center;
  font-size: 22px;
}
div.chat-container {
  width: 400px;
  padding: 10px;
}

div.chat-messages {
  padding: 0;
  margin-top: 0;
}

#scroller {
  height: 300px;
  padding: 0;
  overflow: auto;
  margin-top: 0;
}

div.chat-messages .card-content {
  padding: 0;
}

div.chat-controls {
  width: 450px;
  padding: 10px;
}
